<section class="detail-info">
    <h1>
        Editing data for "Staff"
    </h1>
    <form class="detail-info__form">
        <div>
            <label for="detail-info__edit-id">
                Enter the id number you want to edit
            </label>
            <input class="detail-info__edit-id" id="detail-info__edit-id" type="number">
        </div>
        <div>
            <label for="detail-info__fullname-staff">
                Enter full name for staff
            </label>
            <input class="detail-info__fullname-staff" id="detail-info__fullname-staff" type="text">
        </div>
        <div>
            <label for="detail-info__email-staff">
                Enter email for staff
            </label>
            <input class="detail-info__email-staff" id="detail-info__email-staff" type="text">
        </div>
        <div>
            <label for="detail-info__phone-staff">
                Enter phone for staff
            </label>
            <input class="detail-info__phone-staff" id="detail-info__phone-staff" type="text">
        </div>
        <div>
            <label for="detail-info__created-at-staff">
                Enter created at for staff
            </label>
            <input class="detail-info__created-at-staff" id="detail-info__created-at-staff" type="text">
        </div>
        <div>
            <label for="detail-info__skills-staff">
                Enter skills for staff
            </label>
            <input class="detail-info__skills-staff" id="detail-info__skills-staff" type="text">
        </div>
        <div>
            <label for="detail-info__comments-staff">
                Enter comments for staff
            </label>
            <input class="detail-info__comments-staff" id="detail-info__comments-staff" type="text">
        </div>
        <div>
            <label for="detail-info__title-department-staff">
                Enter title for company
            </label>
            <input class="detail-info__title-department-staff" id="detail-info__title-department-staff" type="text">
        </div>
        <div>
            <label for="detail-info__description-department-staff">
                Enter comments for staff
            </label>
            <input class="detail-info__description-department-staff" id="detail-info__description-department-staff" type="text">
        </div>
        <div>
            <label for="detail-info__team-lead-department-staff">
                Enter team lead
            </label>
            <input class="detail-info__team-lead-department-staff" id="detail-info__team-lead-department-staff" type="text">
        </div>
        <div>
            <label for="detail-info__title-company-staff">
                Enter titple for company
            </label>
            <input class="detail-info__title-company-staff" id="detail-info__title-company-staff" type="text">
        </div>
        <div>
            <input class="detail-info__submit" type="submit" value="Start">
        </div>
    </form>
    <div class="detail-info__status-send">
        <h2>
            Detail infromation for send
        </h2>
    </div>
</section>
