<section class="detail-info">
    <h1>
        Data entry for "Project people"
    </h1>
    <form class="detail-info__form">
        <div>
            <label for="detail-info__type-projectpeople">
                Enter type for project people
            </label>
            <input class="detail-info__type-projectpeople" id="detail-info__type-projectpeople" type="text">
        </div>
        <div>
            <label for="detail-info__responsibility-projectpeople">
                Enter responsibility for project people
            </label>
            <input class="detail-info__responsibility-projectpeople" id="detail-info__responsibility-projectpeople" type="text">
        </div>
        <div>
            <label for="detail-info__title-project">
                Enter title for project
            </label>
            <input class="detail-info__title-project" id="detail-info__title-project" type="text">
        </div>
        <div>
            <label for="detail-info__description-project">
                Enter description for project
            </label>
            <input class="detail-info__description-project" id="detail-info__description-project" type="text">
        </div>
        <div>
            <input class="detail-info__submit" type="submit" value="Start">
        </div>
    </form>
    <div class="detail-info__status-send">
        <h2>
            Detail infromation for send
        </h2>
    </div>
</section>
