<section class="detail-info">
    <h1>
        Delete data for "Company"
    </h1>
    <form class="detail-info__form">
        <div>
            <label for="detail-info__input-id">
                Enter id number of data you want to delete
            </label>
            <input class="detail-info__input-id" id="detail-info__input-id" type="number" min="1">
        </div>
        <div>
            <input class="detail-info__submit" type="submit" value="Start">
        </div>
    </form>
    <div class="detail-info__delete-id">
        <h2>
            You have deleted information about №
        </h2>
    </div>
</section>