<section class="detail-info">
    <h1>
        Data entry for "Company"
    </h1>
    <form class="detail-info__form">
        <div>
            <label for="detail-info__title-company">
                Enter title copmpany
            </label>
            <input class="detail-info__title-company" id="detail-info__title-company" type="text">
        </div>
        <div>
            <input class="detail-info__submit" type="submit" value="Start">
        </div>
    </form>
    <div class="detail-info__status-send">
        <h2>
            Detail infromation for send
        </h2>
    </div>
</section>
